Script_scraping_file_DF_similarity_search/__pycache__/scraper.cpython-312.pyc
Script_scraping_file_DF_similarity_search/__pycache__/node.cpython-312.pyc
Script_scraping_file_DF_similarity_search/__pycache__/create_dictionary_embeddings.cpython-312.pyc
Script_scraping_file_DF_similarity_search/__pycache__/model_and_tokenizer.cpython-312.pyc
Script_scraping_file_DF_similarity_search/__pycache__/worker.cpython-312.pyc
Script_scraping_file_DF_similarity_search/dictionary_embeddings.json
Script_scraping_file_DF_similarity_search/__pycache__/utilities.cpython-312.pyc
Script_scraping_file_DF_similarity_search/__pycache__/model.cpython-312.pyc
Script_scraping_file_DF_similarity_search/dictionaryjson
Script_scraping_file_DF_similarity_search/__pycache__/model.cpython-312.pyc
Script_scraping_file_DF_similarity_search/__pycache__/utilities.cpython-312.pyc
