Script_scraping_file_DF_similarity_search/__pycache__/similarity_search.cpython-312.pyc
Script_scraping_file_DF_similarity_search/__pycache__/scraper.cpython-312.pyc
Script_scraping_file_DF_similarity_search/__pycache__/node.cpython-312.pyc
Script_scraping_file_DF_similarity_search/__pycache__/create_centroid.cpython-312.pyc
Script_scraping_file_DF_similarity_search/centroid.json
